.calculadora{
    position: relative;
    top: 50px;
    margin: auto;
    background-color:  rgb(63, 59, 59);
    box-shadow: 3 3 200px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    max-width: 400px;
    border-radius: 10px;
    height: 580px;
}
.resultado{
    position: relative;
    background-color: rgb(14, 94, 241);
    margin: auto;
    height: 55px;
    width: 400px;
    color: white;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.botoes{
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-auto-rows: minmax(100px, auto);
    flex-direction: row;
    justify-content: center;
}
button{
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
}
.igual{
    background-color: rgb(14, 94, 241);
}
h1{
    margin: auto;
    text-align: center;
    margin-top: 60px;
    font-family: 'Orbitron', sans-serif;
}