.Container{
    background-color: #3a3a55;
    height: 550px;
    width: 515px;
    position: relative;
    margin: auto;
    top: 40px;
    padding: 20px;
    border-radius: 5px;
}
h1{
  position: absolute;
  top: 16px;
  left: 38%;
  color: white;
  text-align: center;
}
button{
  background-color: #B8BCBF;
  color: black;
  margin-top: 10px;
  font-size: 20px;
  width: 515px;
  height: 40px;
}
input{
  font-size: 20px;
}
.Form{
  display: grid;
  grid-template-columns: 1fr;
}
.form-field{
  width: 500px;
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
}
.Form-error{
  color: red;
}
.icon-login{
  font-size: 80px;
  margin-left: 10%;
}